*.dll
*.pdb
*.txt
*.exe
*.xml
*.manifest
*.nupkg
*._
OperationsLogConverter/obj/Debug/TemporaryGeneratedFile_036C0B5B-1481-4323-8D20-8F5ADCB23D92.cs
*.cache
ConverterLib/obj/Debug/TemporaryGeneratedFile_036C0B5B-1481-4323-8D20-8F5ADCB23D92.cs
ConverterLib/obj/Debug/TemporaryGeneratedFile_5937a670-0e60-4077-877b-f7221da3dda1.cs
ConverterLib/obj/Debug/TemporaryGeneratedFile_E7A71F73-0F8D-4B9B-B56E-8E70B10BC5D3.cs
*.user
CountersLogConverter/obj/Debug/TemporaryGeneratedFile_036C0B5B-1481-4323-8D20-8F5ADCB23D92.cs
*.csv
*.zip
OperationsLogConverter/obj/Debug/TemporaryGeneratedFile_5937a670-0e60-4077-877b-f7221da3dda1.cs
CountersLogConverter/obj/Debug/TemporaryGeneratedFile_5937a670-0e60-4077-877b-f7221da3dda1.cs
CountersLogConverter/obj/Debug/TemporaryGeneratedFile_E7A71F73-0F8D-4B9B-B56E-8E70B10BC5D3.cs
*.rtf
OperationsLogConverter/obj/Debug/TemporaryGeneratedFile_E7A71F73-0F8D-4B9B-B56E-8E70B10BC5D3.cs
EventsLogConverter/obj/Debug/TemporaryGeneratedFile_036C0B5B-1481-4323-8D20-8F5ADCB23D92.cs
EventsLogConverter/obj/Debug/TemporaryGeneratedFile_5937a670-0e60-4077-877b-f7221da3dda1.cs
EventsLogConverter/obj/Debug/TemporaryGeneratedFile_E7A71F73-0F8D-4B9B-B56E-8E70B10BC5D3.cs
OperationsLogConverter/bin/Debug/DataBlobStorage.vshost.exe.config
CountersLogConverter/bin/Debug/CountersLogConverter.exe.config
OperationsLogConverter/obj/Debug/OperationsLogConverter.csproj.App.config
*.targets
OperationsLogConverter/bin/Debug/OperationsLogConverter.exe.config
*.ps1
OperationsLogConverter/bin/Debug/OperationsLogConverter.vshost.exe.config
*.suo